.like{
    background-image: url("./../../images/Like.svg");
    background-repeat: no-repeat;
    background-position: center;

    width: 22px;
    height: 19px;
    margin: auto 20px auto 0;
    justify-self: end;

    grid-area: like;
}

.like:hover{
    opacity: 0.6;
    cursor: pointer;
}

.like:active{
    background-image: url("./../../images/like_active.svg");
    opacity: 1;
}