.logo_color_white{
    padding-bottom: 31.6px;
    padding-left: 27px;
    width: 104px;
}

@media all and (min-width: 900px){
    .logo_color_white{
        width: 142px;
        padding-bottom: 41px;
    }
}

